<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hola Mundo All
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
<!--//en la clase se le puso el texto no este pegado al borde -->

<!-- //otro encabezado
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hola Mundo 1</ion-title>
    </ion-toolbar>
  </ion-header>
-->

<!-- //empieza el cuerpo
  <app-explore-container name="Tab 1 page"></app-explore-container>
-->

<h1>Hola Mundo 1</h1>

</ion-content>